*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 0.5952vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: #15161a;
  background-color: #111111;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}
a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 18rem;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Days One", sans-serif;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 144.444%;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: #15161a;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}
ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 164rem;
  margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 1680px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 5vw);
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
    background-color: #fff;
  }

  .container {
    padding: 0 2.4rem;
    width: 100%;
  }

  h1 {
    font-family: "Days One", sans-serif;
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }
}
