.password__left-top {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 59.8rem;
  @media (max-width: 48rem) {
    gap: 4.8rem;
  }
}

.password .txt18 {
  line-height: 140%;
  color: #15161a;
}

.password__form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  @media (max-width: 48rem) {
    gap: 4.8rem;
  }
}

.password__input-btn {
  display: flex;
  gap: 2.8rem;
  @media (max-width: 48rem) {
    flex-direction: column;
    gap: 6.4rem;
  }
}

.password__form .btn {
  white-space: nowrap;
  min-width: max-content;
  @media (max-width: 48rem) {
    width: 100%;
  }
}

.password__form-bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
  @media (max-width: 48rem) {
    gap: 2rem;
  }
}

.txt-password {
  opacity: 40%;
  @media (max-width: 48rem) {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 140%;
  }
}

.icon-time {
  width: 2.4rem;
  height: 2.4rem;
  @media (max-width: 48rem) {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.txt-password.active {
  opacity: 100%;
}
