<div class="modal modal-bid" id="modal-bid">
  <div class="modal-wrapper">
    <div class="modal-content">
      <div class="modal__left-img">
        <img src="./assets/images/modal-sculpture.png" alt="sculpture" />
      </div>
      <div class="modal__right">
        <button class="modal-close">
          <img src="./assets/images/icon-close.svg" alt="icon-close" />
        </button>
        <h2 class="txt36">Ваша заявка отправлена</h2>
        <p class="txt18">В ближайшее время с Вами свяжется наш менеджер</p>
        <a href="#"
          ><button class="btn btn-blue btn-primary">на главную</button></a
        >
      </div>
    </div>
  </div>
</div>
