<section class="team container">
    <div class="slider team__content">
        <div class="slider__top team__top">
            <h1 class="text-white">Наша команда</h1>
            <div class="slider-buttons">
                <button id="prev" class="slider-button"><img src="./assets/images/prev.svg" alt="back-button"></button>
                <button id="next" class="slider-button"><img src="./assets/images/next.svg" alt="forward-button"></button>
            </div>
        </div>
        <div class="slider__container team__slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide team__slide">
            <img src="./assets/images/team-photo.png" alt="photo" class="slide-img">
            <div class="team__slide_content">
            <p class="team__slide_title">IT developer</p>
            <p class="team__slide_name">Елена Крицкая</p>
        </div>
        </div>

        <div class="swiper-slide team__slide">
            <img src="./assets/images/team-photo.png" alt="photo" class="slide-img">
            <div class="team__slide_content">
            <p class="team__slide_title">IT developer</p>
            <p class="team__slide_name">Елена Крицкая</p>
        </div>
        </div>
        
        <div class="swiper-slide team__slide">
            <img src="./assets/images/team-photo.png" alt="photo" class="slide-img">
            <div class="team__slide_content">
            <p class="team__slide_title">IT developer</p>
            <p class="team__slide_name">Елена Крицкая</p>
        </div>
        </div>

        <div class="swiper-slide team__slide">
            <img src="./assets/images/team-photo.png" alt="photo" class="slide-img">
            <div class="team__slide_content">
            <p class="team__slide_title">IT developer</p>
            <p class="team__slide_name">Елена Крицкая</p>
        </div>
        </div>

        <div class="swiper-slide team__slide">
            <img src="./assets/images/team-photo.png" alt="photo" class="slide-img">
            <div class="team__slide_content">
            <p class="team__slide_title">IT developer</p>
            <p class="team__slide_name">Елена Крицкая</p>
        </div>
        </div>

        <div class="swiper-slide team__slide">
            <img src="./assets/images/team-photo.png" alt="photo" class="slide-img">
            <div class="team__slide_content">
            <p class="team__slide_title">IT developer</p>
            <p class="team__slide_name">Елена Крицкая</p>
        </div>
        </div>
        </div>
        </div>
    </div>
</section>