.account-pp-req .item-stage-part1 {
  width: 16.7%;
}

.account-pp-req .item-stage-part2 {
  width: 33.4%;
}

.account-pp-req .item-stage-part3 {
  width: 50%;
}

.account-pp-req .item-stage-part4 {
  width: 66.7%;
}

.account-pp-req .item-stage-part5 {
  width: 83.4%;
}

.account-pp-req .item-stage-part6 {
  width: 100%;
}
